In [2]:
import pandas as pd
bb = pd.read_csv("./dataset/kopo_customerdata.csv")
bb.head(4)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0

In [5]:
bb.dtypes

CUSTOMERCODE      int64
STATENAME        object
ST                int64
GENDER           object
DOB               int64
GENDER1           int64
EMAIL             int64
FEST_CNT          int64
TOTAL_AMOUNT      int64
AC_AMOUNT         int64
AV_AMOUNT         int64
HA_AMOUNT         int64
EMI_CE_AMOUNT     int64
IS_HIGHEND        int64
CNT_VIST          int64
GAP_VISIT         int64
dtype: object

In [ ]:
answer4 = bb[(bb.ST.st)]