### 1. 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
selloutData = pd.read_csv('../dataset/kopo_channel_seasonality_new.csv')
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

### 2.astype으로 타입바꾸기

In [5]:
selloutData["YEARWEEK"] = selloutData.YEARWEEK.astype(str)

### 3. 원하는 컬럼명만 조회하기

In [72]:
import numpy as np

In [73]:
selloutDataC = selloutData[["REGIONID","PRODUCT"]]

In [74]:
csDataF = pd.read_csv('../dataset/kopo_customerdata.csv')
csDataF.head()

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [75]:
csDataC = csDataF[["CUSTOMERCODE","STATENAME","GENDER","GENDER1"]]
csDataC.head()

   CUSTOMERCODE STATENAME  GENDER  GENDER1
0       1503989    State2    Male        1
1       1190338    State2    Male        1
2       1424715    State2  Female        2
3       2483305    State2    Male        1
4       1178802    State2    Male        1

### 4.index로 조회하기

In [76]:
indexS = csDataF.iloc[0:5,5:8]
indexS

   GENDER1  EMAIL  FEST_CNT
0        1      1         0
1        1      0         1
2        2      0         0
3        1      0         1
4        1      0         1

### 5.list로 읽고 가져오기(columns)

In [77]:
csDataCol = csDataF.columns
csDataCode = csDataCol.get_loc("CUSTOMERCODE")
csDataEM = csDataCol.get_loc("EMAIL")
csDataAL = csDataF.iloc[:6,[csDataCode,csDataEM]]
csDataAL

   CUSTOMERCODE  EMAIL
0       1503989      1
1       1190338      0
2       1424715      0
3       2483305      0
4       1178802      0
5        859044      0

### 6.list로 읽고 가져오기2

In [78]:
csDataF.iloc[0:5,[0,5,6]]
##행은 5행(가로), 열은 [0,5] 즉 0열과 5열을 가져와라

   CUSTOMERCODE  GENDER1  EMAIL
0       1503989        1      1
1       1190338        1      0
2       1424715        2      0
3       2483305        1      0
4       1178802        1      0

### 7.데이터 조작하기

In [81]:
csData = pd.read_csv('../dataset/customerdata.csv')
csData.head()

,Unnamed: 0,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE2
0,0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover
1,1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog
2,2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog
3,3,A16605,3713.211107,2,6.6,0.900000,Early-bird
4,4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog

In [80]:
import numpy as np

In [88]:
csData["PRODUCTAGE_AGE_NEW"] = np.where(csData["PRODUCTAGE"]<1,1,\
                                        np.where(csData["PRODUCTAGE"]<2,2,\
                                                 np.where(csData["PRODUCTAGE"]<3,3,\
                                                          5)))
csData.head()

,Unnamed: 0,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE2,PRODUCTAGE_AGE_NEW
0,0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3
2,2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3

### Quiz1. 불량데이터 처리

In [90]:
selloutData["QTY_NEW"] = np.where(selloutData["QTY"]<0,0,\
                                 selloutData["QTY"])
selloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW
0      A60   PRODUCT4   201402     71.0     71.0
1      A60  PRODUCT59   201402  22275.0  22275.0
2      A60  PRODUCT34   201402   4463.0   4463.0
3      A60  PRODUCT47   201402      0.0      0.0
4      A60  PRODUCT56   201402     23.0     23.0

### Quiz2. 데이터 통합(53주차제거)

In [104]:
selloutData["YEAR"] = selloutData.YEARWEEK.astype(str)
selloutData["WEEK"] = selloutData.YEARWEEK.astype(str)
selloutData["YEAR"] = selloutData['YEARWEEK'].str[0:4]
selloutData["WEEK"] = selloutData['YEARWEEK'].str[4:]

In [108]:
refineSelloutData = selloutData[selloutData.WEEK.astype(int) <53]
refineSelloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW  YEAR WEEK
0      A60   PRODUCT4   201402     71.0     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  22275.0  2014   02
2      A60  PRODUCT34   201402   4463.0   4463.0  2014   02
3      A60  PRODUCT47   201402      0.0      0.0  2014   02
4      A60  PRODUCT56   201402     23.0     23.0  2014   02

### 8. 이상데이터 정제하기

In [112]:
def refining(df):
    if df['PRODUCTAGE'] <1 :
        return 1
    elif df['PRODUCTAGE'] <2:
        return 2
    else:
        return 5
csData["PRODUCTAGE_NEW"] = csData.apply(refining,axis =1)
csData

,Unnamed: 0,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE2,PRODUCTAGE_AGE_NEW,PRODUCTAGE_NEW
0,0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
1,1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,5
2,2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
3,3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
4,4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,5
5,5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5
6,6,B18816,3213.911446,2,6.4,0.900000,Early-bird,1,1
7,7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,3,5
8,8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,3,5
9,9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5
10,10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5
11,11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
12,12,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,3,5
13,13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1
14,14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5
15,15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5
16,16,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,5
17,17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5
18,18,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,5
19,19,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,5
20,20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5
21,21,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
22,22,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
23,23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1
24,24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1
25,25,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,5
26,26,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2
27,27,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2
28,28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5
29,29,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,3,5
...,...,...,...,...,...,...,...,...,...
120,120,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,3,5
121,121,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,3,5
122,122,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,3,5
123,123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5
124,124,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,3,5
125,125,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1
126,126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1
127,127,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,2,2
128,128,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,3,5
129,129,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,3,5
130,130,W13404,4296.873743,3,6.5,1.100000,Early-bird,2,2
131,131,W13995,2411.008838,2,6.4,1.000000,Early-bird,2,2
132,132,W16193,3402.729703,2,6.4,0.900000,Early-bird,1,1
133,133,W18228,3480.455474,2,6.4,0.900000,Early-bird,1,1
134,134,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,2,2
135,135,X13390,2947.543982,3,6.3,1.100000,Early-bird,2,2
136,136,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,3,5
137,137,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,3,5
138,138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,5
139,139,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,3,5
140,140,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,3,5
141,141,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,3,5
142,142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1
143,143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1
144,144,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,3,5
145,145,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,3,5
146,146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1
147,147,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,3,5
148,148,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,2,2
149,149,Z19835,3326.526183,2,6.7,1.200000,Early-bird,2,2

### 9.데이터 정렬하기(sort)

In [113]:
sortKey = ["CUSTID","AVGPRICE"]

In [126]:
# sortedcsData = csData.sort_values(["CUSTID","AVGPRICE"],ascending=[True,False],inplace = True)
sortedcsData = csData.sort_values(sortKey)
sortedcsData

,Unnamed: 0,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE2,PRODUCTAGE_AGE_NEW,PRODUCTAGE_NEW
0,0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
1,1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,5
2,2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
3,3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
4,4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,5
5,5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5
6,6,B18816,3213.911446,2,6.4,0.900000,Early-bird,1,1
7,7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,3,5
8,8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,3,5
9,9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5
10,10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5
11,11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
12,12,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,3,5
13,13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1
14,14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5
15,15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5
16,16,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,5
17,17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5
18,18,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,5
19,19,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,5
20,20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5
21,21,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
22,22,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
23,23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1
24,24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1
25,25,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,5
26,26,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2
27,27,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2
28,28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5
29,29,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,3,5
...,...,...,...,...,...,...,...,...,...
120,120,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,3,5
121,121,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,3,5
122,122,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,3,5
123,123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5
124,124,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,3,5
125,125,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1
126,126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1
127,127,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,2,2
128,128,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,3,5
129,129,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,3,5
130,130,W13404,4296.873743,3,6.5,1.100000,Early-bird,2,2
131,131,W13995,2411.008838,2,6.4,1.000000,Early-bird,2,2
132,132,W16193,3402.729703,2,6.4,0.900000,Early-bird,1,1
133,133,W18228,3480.455474,2,6.4,0.900000,Early-bird,1,1
134,134,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,2,2
135,135,X13390,2947.543982,3,6.3,1.100000,Early-bird,2,2
136,136,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,3,5
137,137,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,3,5
138,138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,5
139,139,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,3,5
140,140,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,3,5
141,141,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,3,5
142,142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1
143,143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1
144,144,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,3,5
145,145,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,3,5
146,146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1
147,147,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,3,5
148,148,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,2,2
149,149,Z19835,3326.526183,2,6.7,1.200000,Early-bird,2,2

In [132]:
sortKey1 = ["REGIONID","PRODUCT"]
sortedSelloutData = selloutData.sort_values(sortKey1, ascending = False) #내림차순
sortedSelloutData = selloutData.sort_values(sortKey1) #오름차순
sortedSelloutData.head()

     REGIONID    PRODUCT YEARWEEK     QTY  QTY_NEW  YEAR WEEK
176       A77  PRODUCT12   201404  2628.0   2628.0  2014   04
269       A77  PRODUCT12   201401  3821.0   3821.0  2014   01
1728      A77  PRODUCT12   201402  2466.0   2466.0  2014   02
2711      A77  PRODUCT12   201405  1442.0   1442.0  2014   05
3096      A77  PRODUCT12   201403  2401.0   2401.0  2014   03

### 10.데이터요약 (groupby)

In [144]:
meanValue = csData.\
groupby(['CUSTTYPE2','EMI'],as_index = True).\
mean()
meanValue
meanResult = meanValue.reset_index()
meanResult.head()

,CUSTTYPE2,EMI,Unnamed: 0,AVGPRICE,DEVICECOUNT,PRODUCTAGE,PRODUCTAGE_AGE_NEW,PRODUCTAGE_NEW
0,Big-Screen-lover,1,11.000000,3246.000000,5.000000,1.891624,2.000000,2.000000
1,Big-Screen-lover,2,77.913043,3535.317391,5.508696,2.223247,2.804348,4.152174
2,Big-Screen-lover,3,73.333333,4111.600000,6.400000,1.838520,2.333333,3.000000
3,Early-bird,1,68.000000,2390.083736,6.300000,1.000000,2.000000,2.000000
4,Early-bird,2,72.363636,3232.445885,6.460606,0.936364,1.242424,1.242424

### 11.데이터요약 심화과정(groupby)

In [140]:
groupData = sortedSelloutData.\
groupby(["REGIONID","PRODUCT"]).agg(['mean','std'])['QTY_NEW']
#그룹을 REGIONID,PRODUCT묶고 QTY_NEW의 평균과 표준편차를 보여주세요
groupData.head()

                             mean            std
REGIONID PRODUCT
A00      PRODUCT34     132.445860     154.867743
         PRODUCT58     105.235669     273.435108
         PRODUCT59   36086.547771   15192.174914
A01      PRODUCT1     5716.726115    3704.948589
         PRODUCT12  197052.777070  198866.717131

In [142]:
groupResult = groupData.reset_index()
#그룹으로 묶어준 후 끝나면 항상 최초 데이터로 만들어주기
groupResult.head()

  REGIONID    PRODUCT           mean            std
0      A00  PRODUCT34     132.445860     154.867743
1      A00  PRODUCT58     105.235669     273.435108
2      A00  PRODUCT59   36086.547771   15192.174914
3      A01   PRODUCT1    5716.726115    3704.948589
4      A01  PRODUCT12  197052.777070  198866.717131

In [154]:
maxValue = csData.\
groupby(["EMI"]).max()
maxValue

,Unnamed: 0,CUSTID,AVGPRICE,DEVICECOUNT,PRODUCTAGE,CUSTTYPE2,PRODUCTAGE_AGE_NEW,PRODUCTAGE_NEW
EMI,,,,,,,,
1,140,Y12458,3419.462596,6.3,2.994395,Sleeping-dog,3,5
2,149,Z19835,4166.533130,6.9,3.483573,Sleeping-dog,5,5
3,146,Z13534,4296.873743,6.9,2.055707,Early-bird,3,5

### 프로젝트 실습

In [158]:
sortKey2 = ["REGIONID","PRODUCT","YEARWEEK"]
sortedData = selloutData.sort_values(sortKey2)
sortedData.head()

     REGIONID    PRODUCT YEARWEEK    QTY  QTY_NEW  YEAR WEEK
298       A00  PRODUCT34   201401  661.0    661.0  2014   01
1757      A00  PRODUCT34   201402  679.0    679.0  2014   02
3125      A00  PRODUCT34   201403  578.0    578.0  2014   03
205       A00  PRODUCT34   201404  532.0    532.0  2014   04
4369      A00  PRODUCT34   201405  516.0    516.0  2014   05

### 프로젝트 실습2

In [161]:
projectG = sortedData.\
groupby(["REGIONID","PRODUCT"]).agg(['mean','std'])['QTY_NEW']
projectG.head()

                             mean            std
REGIONID PRODUCT
A00      PRODUCT34     132.445860     154.867743
         PRODUCT58     105.235669     273.435108
         PRODUCT59   36086.547771   15192.174914
A01      PRODUCT1     5716.726115    3704.948589
         PRODUCT12  197052.777070  198866.717131

In [182]:
projectG.columns = ["QTY_mean","QTY_STD"]
projectG.reset_index().head(2)

  REGIONID    PRODUCT    QTY_mean     QTY_STD
0      A00  PRODUCT34  132.445860  154.867743
1      A00  PRODUCT58  105.235669  273.435108

### 12. rolling함수

In [171]:
csData["TEST"] = csData["PRODUCTAGE"].rolling(window = 5, center = False).mean()
#center가 true면 나포함 5개 즉 위에2개 밑에 2개, center가 False면 위에가 4개 나올때까지 안뽑음
csData

,Unnamed: 0,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE2,PRODUCTAGE_AGE_NEW,PRODUCTAGE_NEW,TEST
0,0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2,NaN
1,1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,5,NaN
2,2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5,NaN
3,3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1,NaN
4,4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,5,2.184612
5,5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5,2.406109
6,6,B18816,3213.911446,2,6.4,0.900000,Early-bird,1,1,2.049705
7,7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,3,5,1.921030
8,8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,3,5,2.155029
9,9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5,2.266986
10,10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5,2.332377
11,11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2,2.530702
12,12,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,3,5,2.445185
13,13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1,2.191186
14,14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5,2.281972
15,15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5,2.241451
16,16,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,5,2.378678
17,17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5,2.532027
18,18,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,5,2.796478
19,19,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,5,2.520512
20,20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5,2.492603
21,21,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,2.374788
22,22,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,2.098196
23,23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.853744
24,24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.616236
25,25,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,5,1.487615
26,26,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.435057
27,27,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,1.350851
28,28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.825490
29,29,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,3,5,2.047751
...,...,...,...,...,...,...,...,...,...,...
120,120,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,3,5,2.383817
121,121,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,3,5,2.311081
122,122,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,3,5,2.568229
123,123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5,2.561750
124,124,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,3,5,2.582300
125,125,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1,2.241016
126,126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1,1.931343
127,127,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,2,2,1.878781
128,128,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,3,5,1.654145
129,129,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,3,5,1.675905
130,130,W13404,4296.873743,3,6.5,1.100000,Early-bird,2,2,1.715905
131,131,W13995,2411.008838,2,6.4,1.000000,Early-bird,2,2,1.735905
132,132,W16193,3402.729703,2,6.4,0.900000,Early-bird,1,1,1.531319
133,133,W18228,3480.455474,2,6.4,0.900000,Early-bird,1,1,1.283925
134,134,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,2,2,1.143133
135,135,X13390,2947.543982,3,6.3,1.100000,Early-bird,2,2,1.143133
136,136,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,3,5,1.448746
137,137,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,3,5,1.797998
138,138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,5,2.185069
139,139,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,3,5,2.248222
140,140,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,3,5,2.468157
141,141,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,3,5,2.379346
142,142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1,2.030094
143,143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1,1.643023
144,144,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,3,5,1.635343
145,145,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,3,5,1.688142
146,146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1,1.451341
147,147,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,3,5,1.745601
148,148,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,2,2,1.906590
149,149,Z19835,3326.526183,2,6.7,1.200000,Early-bird,2,2,1.727983

### 13.데이터 합치기

In [173]:
regionMasterData = pd.read_csv('../dataset/kopo_region_mst.csv')
selectExample = pd.read_csv('../dataset/kopo_channel_seasonality_new.csv')

In [174]:
regionMasterData.head(2)

  REGIONID REGIONNAME
0      A00     AFRICA
1      A01    AMERICA

In [175]:
selectExample.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

In [179]:
mergeData = pd.merge(regionMasterData,selectExample,\
                    on = ["REGIONID"], how = "left")\
[["REGIONID","REGIONNAME","PRODUCT","YEARWEEK"]]
mergeData.head(2)

  REGIONID REGIONNAME    PRODUCT  YEARWEEK
0      A00     AFRICA  PRODUCT58  201404.0
1      A00     AFRICA  PRODUCT59  201404.0

In [185]:
refineSelloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW  YEAR WEEK
0      A60   PRODUCT4   201402     71.0     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  22275.0  2014   02
2      A60  PRODUCT34   201402   4463.0   4463.0  2014   02
3      A60  PRODUCT47   201402      0.0      0.0  2014   02
4      A60  PRODUCT56   201402     23.0     23.0  2014   02

In [191]:
projectG.head()

  REGIONID    PRODUCT       QTY_mean        QTY_STD
0      A00  PRODUCT34     132.445860     154.867743
1      A00  PRODUCT58     105.235669     273.435108
2      A00  PRODUCT59   36086.547771   15192.174914
3      A01   PRODUCT1    5716.726115    3704.948589
4      A01  PRODUCT12  197052.777070  198866.717131

In [194]:
mergeData2 = pd.merge(refineSelloutData,projectG,\
                     on = ["REGIONID","PRODUCT"], how = "left")\
[["REGIONID","PRODUCT","YEAR","WEEK","QTY_NEW"]]
mergeData2.head()

  REGIONID    PRODUCT  YEAR WEEK  QTY_NEW
0      A60   PRODUCT4  2014   02     71.0
1      A60  PRODUCT59  2014   02  22275.0
2      A60  PRODUCT34  2014   02   4463.0
3      A60  PRODUCT47  2014   02      0.0
4      A60  PRODUCT56  2014   02     23.0