In [1]:
import pandas as pd
import numpy as np
## 머신러닝 모델 라이브러리
from sklearn import datasets, tree

## 머신러닝 모델 정확도 라이브러리
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [2]:
featuresData = pd.read_csv('../dataset/feature_regression_example.csv')

In [3]:
featuresData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155

### 주차 자르기

In [4]:
featuresDataYW = featuresData[featuresData.YEARWEEK < 201653]

In [5]:
featuresDataYW.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155

In [6]:
featuresDataYW.dtypes

REGIONID         object
PRODUCTGROUP     object
PRODUCT          object
ITEM             object
YEARWEEK          int64
YEAR              int64
WEEK              int64
QTY               int64
HOLIDAY          object
HCLUS             int64
PROMOTION        object
PRO_PERCENT     float64
dtype: object

### 숫자로 변환해서 넣기

In [7]:
featuresDataYW["HO_YN"] = np.where(featuresDataYW["HOLIDAY"] == "Y", 1, 0)

C:\Users\SMART-24\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
featuresDataYW["PRO_YN"] = np.where(featuresDataYW["PROMOTION"] == "Y", 1, 0)

C:\Users\SMART-24\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
featuresData = featuresDataYW

In [10]:
featuresData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442,1,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442,0,1
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155,0,1
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155,1,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155,0,1

### 상관관계확인

In [11]:
corrDF = featuresData.corr()

In [12]:
corrDF

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HO_YN,PRO_YN
YEARWEEK,1.000000,0.956598,0.275593,0.112267,-0.071586,0.404889,0.049867,0.205916
YEAR,0.956598,1.000000,-0.016493,0.028931,0.028593,0.321193,-0.031106,0.195931
WEEK,0.275593,-0.016493,1.000000,0.289766,-0.339943,0.329705,0.273710,0.060206
QTY,0.112267,0.028931,0.289766,1.000000,-0.537230,0.700195,0.505932,0.612451
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.898554
HO_YN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,0.365148
PRO_YN,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,1.000000

### features선택

In [13]:
corrResult = corrDF.reset_index()

In [14]:
featuresStd = 0.5

In [15]:
features = corrResult[ (corrResult.QTY != 1) & (abs(corrResult.QTY) > featuresStd)]["index"].tolist()

In [16]:
features

['HCLUS', 'PRO_PERCENT', 'HO_YN', 'PRO_YN']

In [17]:
label = ['QTY']

In [18]:
yearweekStd = 201630

In [19]:
trainingData_features = featuresData[featuresData.YEARWEEK <= yearweekStd][features]
trainingData_label = featuresData[featuresData.YEARWEEK <= yearweekStd][label]
testData_features = featuresData[featuresData.YEARWEEK > yearweekStd][features]
testData_label = featuresData[featuresData.YEARWEEK > yearweekStd]
##일부로 label안씀 모든 것을 보기 위해

In [30]:
testData_label

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN
83,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201631,2016,31,1522,N,4,Y,0.280258,0,1
84,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201632,2016,32,2100,N,4,Y,0.280258,0,1
85,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201633,2016,33,43,N,4,N,0.000000,0,0
86,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201634,2016,34,1700,Y,1,Y,0.308584,1,1
87,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201635,2016,35,1514,Y,1,Y,0.308584,1,1
88,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201636,2016,36,1501,Y,1,Y,0.308584,1,1
89,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201637,2016,37,1491,N,4,Y,0.308584,0,1
90,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201638,2016,38,806,N,4,Y,0.308584,0,1
91,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201639,2016,39,2111,N,4,Y,0.280258,0,1
92,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201640,2016,40,2400,N,4,Y,0.280258,0,1
93,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201641,2016,41,2010,Y,2,Y,0.280258,1,1
94,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201642,2016,42,1900,N,4,Y,0.280258,0,1
95,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201643,2016,43,141,N,4,N,0.000000,0,0
96,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201644,2016,44,1615,Y,0,Y,0.421888,1,1
97,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201645,2016,45,1574,Y,0,Y,0.421888,1,1
98,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201646,2016,46,1800,Y,0,Y,0.421888,1,1
99,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201647,2016,47,2600,Y,0,Y,0.421888,1,1
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888,1,1
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888,0,1
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361,0,1
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361,0,1
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361,1,1

### 모델적용 내가 쓰고싶은 모델을 선정해서 사용하면 됨

In [20]:
model_method = tree.DecisionTreeClassifier()

In [21]:
model = model_method.fit(trainingData_features,trainingData_label)
##fit는 학습시킬때 사용하는 함수

In [22]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

### 예측

In [23]:
predict = model.predict(testData_features)

In [24]:
predict

array([ 973,  973,   16,  968,  968,  968,  973,  973,  973,  973, 1172,
        973,   16, 2033, 2033, 2033, 2033, 2033, 2033, 2033, 2033, 2033],
      dtype=int64)

In [25]:
len(predict)

22

In [33]:
predictData = pd.DataFrame(predict)

In [35]:
predictData = predictData.column["PREDICT"]

AttributeError: 'DataFrame' object has no attribute 'column'

In [28]:
AnswerData = pd.concat([testData_label,predictData],axis = 1)

In [29]:
AnswerData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1172.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2033.0
83,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201631.0,2016.0,31.0,1522.0,N,4.0,Y,0.280258,0.0,1.0,NaN
84,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201632.0,2016.0,32.0,2100.0,N,4.0,Y,0.280258,0.0,1.0,NaN
85,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201633.0,2016.0,33.0,43.0,N,4.0,N,0.000000,0.0,0.0,NaN
86,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201634.0,2016.0,34.0,1700.0,Y,1.0,Y,0.308584,1.0,1.0,NaN
87,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201635.0,2016.0,35.0,1514.0,Y,1.0,Y,0.308584,1.0,1.0,NaN
88,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201636.0,2016.0,36.0,1501.0,Y,1.0,Y,0.308584,1.0,1.0,NaN
89,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201637.0,2016.0,37.0,1491.0,N,4.0,Y,0.308584,0.0,1.0,NaN
90,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201638.0,2016.0,38.0,806.0,N,4.0,Y,0.308584,0.0,1.0,NaN
91,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201639.0,2016.0,39.0,2111.0,N,4.0,Y,0.280258,0.0,1.0,NaN
92,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201640.0,2016.0,40.0,2400.0,N,4.0,Y,0.280258,0.0,1.0,NaN
93,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201641.0,2016.0,41.0,2010.0,Y,2.0,Y,0.280258,1.0,1.0,NaN
94,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201642.0,2016.0,42.0,1900.0,N,4.0,Y,0.280258,0.0,1.0,NaN
95,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201643.0,2016.0,43.0,141.0,N,4.0,N,0.000000,0.0,0.0,NaN
96,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201644.0,2016.0,44.0,1615.0,Y,0.0,Y,0.421888,1.0,1.0,NaN
97,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201645.0,2016.0,45.0,1574.0,Y,0.0,Y,0.421888,1.0,1.0,NaN
98,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201646.0,2016.0,46.0,1800.0,Y,0.0,Y,0.421888,1.0,1.0,NaN
99,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201647.0,2016.0,47.0,2600.0,Y,0.0,Y,0.421888,1.0,1.0,NaN
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648.0,2016.0,48.0,2412.0,Y,0.0,Y,0.421888,1.0,1.0,NaN
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649.0,2016.0,49.0,1955.0,N,4.0,Y,0.421888,0.0,1.0,NaN
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650.0,2016.0,50.0,1800.0,N,4.0,Y,0.352361,0.0,1.0,NaN
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651.0,2016.0,51.0,1173.0,N,4.0,Y,0.352361,0.0,1.0,NaN
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652.0,2016.0,52.0,332.0,Y,1.0,Y,0.352361,1.0,1.0,NaN